:root {
  --back-colour: #003399;
  --star-colour: #FFDD00;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--back-colour);
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (min-width: 1000px) and (max-width: 1500px) { 
  .Stars-display {
    margin-top: 200px;
  }
}

.App-header {
  background-color: #002080;
  border-bottom: 3px solid #FFDD00;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-main {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  align-items: center;
}

.App-content {
  text-align: center;
  border-radius: 10px;
  max-width: 700px;
  width: 100%;
}

.Stars-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
}

.Slider-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px 20px 5px;
}

.Slider-secondary-content {
  min-width: 100%;
}

.Under-Stars-Display {
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 20px;
  border: 1px solid #FFDD00;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.Under-Stars-Left,
.Under-Stars-Right {
  flex: 1;
  margin: 0 10px; 
}

@media (min-width: 1200px) {
  .Under-Stars-Display {
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: row !important;
    align-items: center !important;
  }

  .Under-Stars-Left,
  .Under-Stars-Right {
    flex: 1;
  }
}

.toolbar-segment {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #FFDD00;
  border-radius: 10px;
  width: 100%;
}

.toolbar-segment h2 {
  color: #FFDD00;
  font-size: 1.2em;
  margin-bottom: 15px;
}

h1 {
  margin: 0;
  color: #FFDD00;
  font: 1.7em 'Montserrat', sans-serif;
  font-weight: bold;
}

input[type="range"] {
  margin-top: 10px;
  max-width: 90%;
}

.Stars-display {
  margin-bottom: 10px;
}

/* New Format */

.new-format .App-main {
  padding-top: 100px;
  padding-bottom: 80px;
}

.new-format h1 {
  color: #FFDD00;
  font: 1.4em 'Montserrat', sans-serif;
  font-weight: bold;
}

.new-format .App-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 1300px;
  width: 100%;
}

.new-format .Stars-content {
  margin-top: 30px;
  flex: 1;
  display: flex;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 100px;
  width: 50%;
  height: calc(100vh - 180px);
  overflow-y: auto;
}

.new-format .Slider-content {
  margin-top: 30px;
  margin-bottom: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50%;
}

.new-format .App-header {
  background-color: #002080;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  padding-left: 70px;
  padding-right: 40px;
}

.new-format .App-footer {
  flex-shrink: 0;
  background-color: #002080;
  padding: 10px 0;
  color: #FFDD00;
  font: 1em 'Montserrat', sans-serif;
  border-top: 3px solid #FFDD00;
  text-align: center;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
}

/* Toggle Container */

.custom-toggle {
  display: flex;
  width: 250px;
  height: 45px;
  background-color: #003399;
  border-radius: 20px;
  border: 2px solid #FFDD00;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
}

.custom-toggle-option {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFDD00;
  background-color: #002080;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.custom-toggle-option.active {
  background-color: #FFDD00;
  color: #003399;
}

.custom-toggle-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-bottom: 20px;
}

/* Colour Inputter */

.colours-header {
  margin-bottom: 20px;
  color: #FFDD00;
  font-weight: bold;
  font-size: 21px;
}

.Shape-colour {
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-format .colour-grid { 
  width: 90%;
}

.new-format .colour-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 90%;
}

.single-colour-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Colour-container
{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
  width: 250px;
  height: 50px;
  border: 2px solid #FFDD00;
  border-radius: 30px;
  overflow: hidden;
  background-color: #002080;
}

.Colour-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.colour-label {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 40px;
  padding: 0 10px;
  color: #FFDD00;
  font-weight: bold;
  font-size: 0.9em;
  z-index: 1;
  border-radius: 20px;
  cursor: pointer;
}

input[type='color'] {
  -webkit-appearance: none;
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
}

.Colour-container:hover {
  box-shadow: 0 0 10px rgba(255, 221, 0, 0.5);
  transition: box-shadow 0.3s ease;
}

#star-colour {
  margin-top: 30px;
}

/* App Nav */

.App-nav {
  display: flex;
  justify-content: center;
  background-color: #002080;
  padding: 0;
  display: flex;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #FFDD00;
  overflow: hidden;
  margin-bottom: 10px;
}

.App-nav button {
  border: none;
  flex: 1;
  background-color: transparent;
  margin: 0;
  padding: 5px;
  color: #FFDD00;
  font-size: 1.2em;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.App-nav button.active {
  background-color: #FFDD00;
  color: #003399;
}

.App-nav button:hover:not(.active) {
  background-color: rgba(255, 221, 0, 0.2);
}

/* Shape Selector */

.Shape-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Shape-container {
  position: relative;
  margin-bottom: 20px;
  width: 250px;
  max-width: 100%;
  transition: height 0.3s ease, overflow 0.3s ease;
}

.Shape-container::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #FFDD00;
  pointer-events: none;
}

.shape-label {
  position: absolute;
  border-left: 2px solid #FFDD00;
  border-right: 2px solid #FFDD00;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #002080;
  padding: 0 10px;
  border-radius: 20px;
  color: #FFDD00;
  font-weight: bold;
  z-index: 1;
}

.shape-dropdown {
  width: 100%;
  padding: 10px;
  border: 2px solid #FFDD00;
  border-radius: 20px;
  background-color: #002080;
  color: #FFDD00;
  font-size: 16px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 30px;
}

.shape-dropdown option {
  background-color: #003399;
  color: #FFDD00;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #003399;
  border: 2px solid #FFDD00;
  border-top: none;
  border-radius: 0 0 20px 20px;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.dropdown-icon {
  text-align: center;
  margin-right: 20px;
  margin-left: 5px;
}

.dropdown-text {
  flex: 1;
}

.dropdown-option {
  padding: 10px;
  cursor: pointer;
  color: #FFDD00;
  width: 100%;
}

.dropdown-option:hover {
  background-color: #004499;
}

.Point-away-container {
  margin-bottom: 25px;
}

.toggle-label-point {
  margin-right: 50px;
}

.toggle-label-outline {
  margin-right: 85px;
}

.outline-weight {
  margin-top: 25px;
}

/* Image Upload */

.image-disclaimer {
  margin-top: 15px;
  font: italic 15px 'Montserrat', sans-serif;
}

.image-disclaimer a {
  color: #FFDD00;
}

.overlay-image-disclaimer {
  margin-bottom: 15px;
  font: italic 15px 'Montserrat', sans-serif;
}

.image-upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-upload-container button {
  background-color: #FFDD00;
  color: #003399;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
}

.remove-image {
  background-color: #ff4444 !important;
  color: white !important;
}

.background-image {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Divider */

.divider {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 30px 0;
}

.divider-line {
  flex-grow: 1;
  height: 1px;
  background-color: #FFDD00;
}

.divider-text {
  padding: 0 10px;
  color: #FFDD00;
  font-weight: bold;
}

/* Header Buttons */

.header-title {
  cursor: pointer;
}

.header-button {
  background-color: transparent;
  color: #FFDD00;
  border: none;
  padding: 10px 10px;
  font-size: 30px;
  cursor: pointer;
  font-weight: bold;
  justify-content: center;
  margin-left: 5px;
}

.header-button:hover {
  color: #ffdd00d2;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

.header-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Header - Smaller Screen */

.dropdown-toggle {
  display: none;
}

.dropdown-menu {
  display: flex;
  flex-direction: row;
  position: static;
  background-color: transparent;
  padding: 0;
  border: none;
  box-shadow: none;
}

dropdown-menu.show {
  display: flex;
}


@media (max-width: 900px) {
  .modes-dropdown {
    background-color: #FFDD00 !important;
  }

  .quiz-mode-button {
    min-width: 100px;
  }

  .header-buttons {
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: end;
    width: 100%;
  }

  .dropdown-toggle {
    background-color: transparent;
    color: #FFDD00;
    border: none;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    margin-left: 0px !important;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }

  .dropdown-modes {
    border: 2px solid #FFDD00;
    border-radius: 100px;
    font-size: 18px;
  }

  .dropdown-menu {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #002080;
    border: 1px solid #FFDD00;
    border-radius: 10px;
    padding: 10px;
    z-index: 600;
  }

  .dropdown-menu.show {
    display: flex;
  }
}

.dropdown-menu .header-button:hover {
  color: #ffdd00d2;
}

/* Overlays */

.font-dropdown {
  font-size: 16px;
}

.font-dropdown option {
  font-size: 14px;
  padding: 5px;
}

.clone-overlay {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #007bff;
  margin: 0 5px 20px 5px;
}

.new-format .clone-overlay {
  margin-right: 10px;
}

.clone-overlay:hover {
  color: #0056b3;
}

.overlay-font-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.shape-input {
  width: 100%;
  padding: 10px;
  border: 2px solid #FFDD00;
  border-radius: 20px;
  background-color: #003399;
  color: #FFDD00;
  font-size: 16px;
}

.shape-input::placeholder {
  color: #FFDD00;
  opacity: 0.7;
}

.shape-input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 221, 0, 0.5);
}

.Text-container {
  position: relative;
  margin-bottom: 20px;
  width: 250px;
  max-width: 100%;
}

.optionWithSpacing {
  white-space: nowrap;
}

.add-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-full-container {
  background-color: #002080;
  border: 3px solid #FFDD00;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 20px 20px;
}

.overlay-container {
  margin-left: 5px;
  margin-top: 10px;
}

.new-format .overlay-container {
  margin-top: 0px !important;
}

.overlay-container button {
  background-color: #FFDD00;
  color: #003399;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}

.overlay-handle {
  color: #082d9c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-topcontent {
  cursor: move;
  width: 100%;
}

.overlay-full-container.drag-over {
  border: 2px dashed #FFDD00;
}

.new-format .overlay-first-line {
  display: flex;
  justify-content:center;
  align-items: start;
}

.overlay-first-line {
  display: block;
  justify-content:center;
  align-items: center;
}

.overlay-content {
  padding: 15px;
  display: column;
}

.new-format .overlay-content {
  display: flex; 
}

.overlay-sliders {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-color {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-format .overlay-arrows {
  display: flex;
  justify-content: space-between;
  width: 70px;
  margin-right: 10px;
  margin-top: 35px;
}

.overlay-arrows {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-right: 10px;
}

.new-format .arrow-button {
  padding: 5px;
}

.arrow-button {
  background-color: transparent;
  border: none;
  color: #FFDD00;
  font-size: 1.2em;
  cursor: pointer;
  padding: 20px 10px 5px;
}

.arrow-button:disabled {
  color: #666;
  cursor: not-allowed;
}

@media (max-width: 1000px) {
  .overlay-topcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/* Footer */

.App-footer {
  flex-shrink: 0;
  background-color: #002080;
  padding: 10px 0;
  color: #FFDD00;
  font: 1em 'Montserrat', sans-serif;
  border-top: 3px solid #FFDD00;
  text-align: center;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
}

.App-footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.App-footer a {
  font-weight: bold;
  color: #FFDD00;
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 5px 5px;
  margin-left: 1px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.App-footer a:hover {
  color: #d6bb02;
  text-shadow: 0 0 10px rgba(255, 221, 0, 0.7);
}

/* Filtering */

.filterable-select {
  position: relative;
  width: 100%;
}

.filterable-select-input {
  width: 100%;
  padding: 10px;
  border: 2px solid #FFDD00;
  border-radius: 20px;
  background-color: #002080;
  color: #FFDD00;
  font-size: 16px;
  cursor: pointer;
}

.filterable-select-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  background-color: #003399;
  border: 2px solid #FFDD00;
  border-top: none;
  border-radius: 0 0 20px 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 10;
}

.filterable-select-options li {
  padding: 10px;
  cursor: pointer;
  color: #FFDD00;
  display: flex;
  align-items: center;
  text-align: left;
}

.filterable-select-options li:hover,
.filterable-select-options li.selected {
  background-color: #004499;
}

.option-label {
  width: 30px;
  text-align: center;
  margin-right: 20px;
}

.option-displayname {
  flex: 1;
}

.filterable-select-input::placeholder {
  color: #FFDD00;
}

/* Randomiser */

.random-button {
  background: linear-gradient(in hsl longer hue 45deg, blue 0 0);
  color: #003399;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  border-radius: 100px;
  margin-bottom: 20px;
  
  width: 250px;
}

.randomize-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.random-button-large {
  width: 200px;
  margin-right: 10px;
}

.random-button-small {
  width: 5px;
  background: linear-gradient(in hsl longer hue 45deg, hotpink 0 0) !important;
}

.random-button:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD00, 0 0 25px #FFDD00, 0 0 30px #FFDD00, 0 0 35px #FFDD00;
}

.random-icon {
  margin-right: 10px;
}

.random-button:hover .random-icon {
  filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 10px #fff) drop-shadow(0 0 15px #FFDD00);
}

/* Popup Footer */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #002080;
  padding: 30px;
  border-radius: 15px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 0 20px rgba(255, 221, 0, 0.3);
  border: 2px solid #FFDD00;
}

.popup-close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.5em;
  color: #b9a629;
  cursor: pointer;
  transition: color 0.3s ease;
}

.popup-close-button:hover {
  color: #ffdd00;
}

.changelog-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.tab-button {
  background: none;
  border: none;
  color: #FFDD00;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px 20px;
  margin: 0 10px;
  transition: all 0.3s ease;
  position: relative;
}

.tab-button::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #FFDD00;
  transition: width 0.3s ease;
}

.tab-button.active::after {
  width: 100%;
}

.tab-button:hover {
  background-color: rgba(255, 221, 0, 0.1);
}

.changelog-content, .upcoming-content {
  color: #FFDD00;
}

.changelog-content h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 221, 0, 0.3);
  padding-bottom: 5px;
}

.changelog-content li, .upcoming-content li {
  margin-bottom: 8px;
  list-style-type: none;
}

.changelog-button {
  background: none;
  border: none;
  color: #FFDD00;
  cursor: pointer;
  font-size: 1.2em;
  margin-left: 15px;
  transition: color 0.3s ease;
}

.changelog-button:hover {
  color: #ffdd00d2;
}

/* Quiz Mode */

.quiz-mode {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  align-items: center;
  justify-content: center;
}

.quiz-mode-button {
  background: #FFDD00;
  color: #003399;
  border: none;
  padding: 5px;
  padding-right: 10px;
  margin-right: 10px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  border-radius: 100px;
  max-width: 150px;
  height: 35px;
}

@media (min-width: 800px) {
  #online-mode-btn {
    padding: 0.6em 2em;
    color: #003399;
    background: #FFDD00;
    position: relative;
  }
  
  #online-mode-btn:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 30px;
  }
  
  #online-mode-btn:hover {
    background: #ffdd00d2;
  }
}

.quiz-header-icon {
  margin-right: 10px;
}

.quiz-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  min-width: 500px;
  border-bottom: 2px solid #FFDD00;
}

.quiz-options-buttons {
  background: #003399;
  border: 2px solid #FFDD00;
  color: #FFDD00;
  padding: 7px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
  border-radius: 100px;
  width: 250px;
  min-height: 50px;
  margin-bottom: 20px;
}

.quiz-options-buttons:hover {
  background: #043dae;
}

.quiz-options-buttons.correct {
  background-color: #11E091;
  color: #003399;
}

.quiz-options-buttons.incorrect {
  background-color: red;
  color: white;
}

.quiz-controls {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-controls-title {
  margin-bottom: 20px;
}

.quiz-score-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid #FFDD00;
}

.quiz-score {
  margin-top: 20px;
  text-align: center;
  font-size: 26px;
  color: #FFDD00;
  font-weight: bold;
  padding-bottom: 5px;
}

.quiz-score-content {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 70px;
}

.settings-button {
  width: 30%;
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  color: #FFDD00;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.new-format .quiz-score-content {
  width: 80% !important;
}

.new-format .settings-button {
  width: 20% !important;
}

.settings-button:hover {
  color: #ffdd00d2;
}

.quiz-max-score {
  text-align: center;
  font-size: 15px;
  color: #FFDD00;
  font-style: oblique;
  padding-bottom: 10px;
}

.quiz-timer {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  color: #FFDD00;
  font-weight: bold;
  padding-bottom: 20px;
  border-bottom: 2px solid #FFDD00;
}

.exit-quiz {
  border-top: 2px solid #FFDD00;
  margin-top: 10px;
  padding-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exit-quiz-button {
  background: #FFDD00;
  color: #003399;
  border: none;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 30px;
  transition: background-color 0.3s ease;
  border-radius: 100px;
  min-width: 250px;
  min-height: 30px;
}

.option-count-slider-container {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.timer-controls {
  margin-bottom: 20px;
}

.option-count-slider {
  width: 100%;
}

@media (max-width: 999px) {
  .flag-display {
    width: 100%;
    max-width: 100vw; 
    box-sizing: border-box;
    overflow: hidden; 
    display: flex;
    align-items: center; 
    justify-content: center;
  }
}

.quiz-mode-button:hover, .exit-quiz-button:hover {
  background: #ffdd00d2;
}

@media (min-width: 1000px) {
  .quiz-mode {
    flex-direction: row;
  }

  .flag-display {
    flex: 1;
    width: 100%;
    max-width: 100vw;
  }

  .quiz-right {
    flex: 1;
    padding-left: 100px; 
    padding-right: 100px;
  }
}

/* Custom SVG Input */

.custom-svg-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.custom-svg-input input {
  width: 70%;
  padding: 10px;
  border: 1px solid var(--star-colour);
  border-radius: 5px;
  background-color: #fff;
  color: var(--back-colour);
  margin-right: 10px;
}

.custom-svg-input input::placeholder {
  color: var(--back-colour);
  opacity: 0.7;
}

.custom-svg-input button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--star-colour);
  color: var(--back-colour);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-svg-input button:hover {
  background-color: #ffcc00;
}

/* Save Menu */

.save-menu {
  border-radius: 10px;
  padding: 20px;
  color: #FFDD00;
  max-width: 400px;
  margin: 0 auto;
}

.share-menu-title {
  color: #FFDD00;
  font-size: 1.6em;
  margin-bottom: 10px;
  text-align: center;
}

.save-menu-title {
  color: #FFDD00;
  font-size: 1.6em;
  margin-bottom: 10px;
  margin-top: 15px;
  text-align: center;
}

#online-share-section {
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
  overflow-x: hidden;
}

.share-section, .save-section {
  display: flex;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid #FFDD00;
}

.share-online-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 15px;
}

.share-input, .save-input {
  flex-grow: 1;
  padding: 10px;
  border: 2px solid #FFDD00;
  border-radius: 5px;
  background-color: #003399;
  color: #FFDD00;
  font-size: 16px;
  margin-right: 10px;
}

.share-input::placeholder, .save-input::placeholder {
  color: #FFDD00;
  opacity: 0.7;
}

.ripple-btn {
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: bold;
  width: 250px;
  height: 60px;
  margin-bottom: 20px;
  font-size: 18px;
  background: #002080;
  border: 2px solid #FFDD00;
  border-radius: 50px;
  color: #FFDD00;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
}

.ripple-btn:hover {
  box-shadow: inset 0 0 0 4px #ef476f, 
              inset 0 0 0 8px #ffd166, 
              inset 0 0 0 12px #06d6a0,
              inset 0 0 0 16px #118ab2;
  background: #073b4c;
  color: #FFDD00;
}

.share-online-btn {
  align-items: center;
  background-color: #FFDD00;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #003399;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 18px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  width: 250px;
  padding: 0 25px;
  font-weight: bold;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 20px;
}

.share-online-btn:after {
  background-color: #83844e;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.share-online-btn:hover:after {
  transform: translate(0, 0);
}

.share-online-btn:active {
  background-color: #d6bb02;
  outline: 0;
}

.share-online-btn:hover {
  outline: 0;
}

.share-button, .save-button {
  background-color: #FFDD00;
  color: #003399;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.share-button:hover, .save-button:hover {
  background-color: #d6bb02;
}

.save-button:disabled {
  background-color: #504605;
  cursor: not-allowed;
}

.saved-flags-title {
  color: #FFDD00;
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.saved-flags-container {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #FFDD00;
  border-radius: 5px;
  padding: 10px;
}

.saved-flag-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: 1px solid rgba(255, 221, 0, 0.3);
}

.saved-flag-link {
  color: #FFDD00;
  text-decoration: none;
  flex-grow: 1;
  padding: 5px;
}

.saved-flag-link:hover {
  text-decoration: underline;
}

.delete-button {
  background-color: transparent;
  border: none;
  color: #ff4444;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
  transition: color 0.3s ease;
}

.delete-button:hover {
  color: #ff0000;
}

.notification {
  background-color: rgba(255, 221, 0, 0.2);
  color: #FFDD00;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

/* Flag Mode */

.shared-flags-top {
  padding-left: 150px;
  padding-right: 150px;
  overflow-x: hidden;
}

.flag-mode-top {
  padding-left: 175px;
  padding-right: 175px;
  overflow-x: hidden;
}

.flag-mode-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px; 
}

.flag-mode-title {
  margin: 0;
  font-size: 45px !important;
  color: #FFDD00;
  font-weight: bold;
  padding: 25px;
  flex: 1;
  text-align: center;
  max-width: 100%;
}

.exit-flag-btn {
  background: #FFDD00;
  color: #003399;
  border: none;
  padding: 7px;
  font-size: 24px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  border-radius: 100px;
  margin: 10px;
}

.flag-mode-subtitle {
  text-align: center;
  font-size: 25px !important;
  color: #FFDD00;
  font-style: italic;
  padding: 25px;
  max-width: 100%;
}

.report-para {
  text-align: center;
  font-size: 17px !important;
  color: #FFDD00;
  padding-bottom: 10px;
  max-width: 100%;
}

.report-para a {
  color: #FFDD00;
  text-decoration: underline;
}

.flag-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.flag-item {
  position: relative;
  overflow: hidden;
}

.stars-display-container {
  position: relative;
  overflow: hidden;
  clip-path: inset(0);
}

.stars-display-container.blurred {
  filter: blur(18px);
}

.flag-overlay {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unblur-button {
  background: #FFDD00;
  color: #003399;
  border: none;
  margin-top: 15px;
  padding: 7px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  border-radius: 100px;
}

.unblur-button:hover {
  background: #ffdd00d2;
}

.flag-label {
  margin-top: 20px;
  font-size: 28px;
  color: #FFDD00;
  font-weight: bold;
  padding-bottom: 5px;
}

.flag-author {
  font-size: 18px;
  color: #FFDD00;
  font-style: italic;
  padding-bottom: 10px;
}

.flag-counts {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFDD00;
  margin-top: 20px;
}

.show-container {
  display: flex;
  justify-content: center; 
  margin: 20px 0;
}

.show-flag-btn {
  background: #FFDD00;
  color: #003399;
  border: none;
  padding: 10px;
  font-size: 28px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  border-radius: 100px;
  margin: 10px;
}

.exit-flag-btn:hover, .show-flag-btn:hover {
  background: #ffdd00d2;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 3px solid #d6bb02;
  background-color: #002080;
  color: #FFDD00;
  border-radius: 20px;
  box-sizing: border-box;
}

.search-bar input::placeholder {
  color: #FFDD00;
  opacity: 0.6;
}

.sort-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.sort-buttons button {
  background: #003399;
  color: #FFDD00;
  border: 2px solid #FFDD00;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  margin: 0 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sort-buttons button.selected {
  background: #FFDD00;
  color: #003399;
}

.sort-buttons button:hover {
  background: #FFDD00;
  color: #003399;
}

.letter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.letter-buttons button {
  background: #003399;
  color: #FFDD00;
  border: 2px solid #FFDD00;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  margin: 5px;
  border-radius: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.letter-buttons button.selected {
  background: #FFDD00;
  color: #003399;
}

.letter-buttons button:hover {
  background: #FFDD00;
  color: #003399;
}

/* Online Share - Tags */

.tags-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.tags-label {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.tag-state {
  background-color: var(--tag-background, #002080);
  color: var(--tag-color, #FFDD00);
  border: 2px solid var(--tag-border, #FFDD00);
  border-radius: 20px;
  padding: 10px 20px;
  display: inline-block;
  margin: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  text-align: center;
}

.tag-state-fixed {
  background-color: var(--tag-background, #002080);
  color: var(--tag-color, #FFDD00);
  border: 2px solid var(--tag-border, #FFDD00);
  border-radius: 20px;
  padding: 10px 20px;
  display: inline-block;
  margin: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
  font-weight: bold;
}

.tag-state:hover {
  background-color: var(--tag-hover-background, #FFDD00);
  color: var(--tag-hover-color, #003399);
}

.tag-state.selected {
  background-color: var(--tag-selected-background, #FFDD00);
  color: var(--tag-selected-color, #003399);
  font-weight: bold;
}

.tags-filter {
  margin: 10px 0;
  text-align: center;
}

.tags-filter-title {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
  color: #ffdd00;
}

.tags-filter-title span {
  margin-left: 20px;
  font-size: 17px;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.clear-filter-btn {
  background-color: #003399;
  border: 2px solid #FFDD00;
  color: #ffdd00;
  padding: 10px 20px;
  border-radius: 35px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.clear-filter-btn:hover {
  background-color: #ffcc00;
  color: #003399;
}

/* User Guide */

.app-guide-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #FFDD00;
  border-radius: 10px;
}

.user-guide-popup {
  display: flex;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  background-color: var(--back-colour);
  border: 3px solid var(--star-colour);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
  position: relative; 
}

.sidebar {
  width: 200px;
  background-color: #002080;
  border-right: 3px solid var(--star-colour);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.menu-icon {
  display: none;
  padding: 10px;
  background-color: transparent;
  color: #FFDD00;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .sidebar {
    transform: translateX(-100%);
    position: absolute;
    height: 100%;
    width: 250px;
    padding-top: 60px;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .menu-icon {
    display: block;
  }

  .content {
    margin-left: 0;
    margin-top: 40px;
  }
}

.sidebar-btn {
  padding: 15px;
  background-color: transparent;
  color: #FFDD00;
  border: none;
  text-align: left;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar-btn.active,
.sidebar-btn:hover {
  background-color: #003399;
}

.submenu {
  display: flex;
  flex-direction: column;
  background-color: #032f85;
  border-top: 1px solid #FFDD00;
  border-bottom: 1px solid #FFDD00;
}

.submenu-btn {
  padding: 10px;
  background-color: transparent;
  color: #FFDD00;
  border: none;
  text-align: left;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding-left: 17px;
}

.submenu-btn.active,
.submenu-btn:hover {
  background-color: #004499;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #003399;
  color: #ffdd00;
  overflow-y: auto;
  text-align: left;
  transition: margin-left 0.3s ease;
}

.guide-list {
  list-style-position: inside; 
  padding-left: 20px;
  text-indent: -20px;
}

.app-guide-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #FFDD00;
  border-radius: 10px;
}

.app-guide-text {
  text-align: center;
  font-size: 20px !important;
  font-weight: bold;
  color: #FFDD00;
  max-width: 100%;
}

.app-guide-btn {
  padding: 0.6em 2em;
  margin-top: 20px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 17px;
  color: #003399;
  background: #ffdd00;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.app-guide-btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.app-guide-btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffdd00;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.user-guide-download {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content a {
  padding: 0;
  text-decoration: underline;
}

.user-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 10px;
  border: 2.5px solid #FFDD00;
}

.guide-subtitle {
  font-size: 18px !important;
  color: #FFDD00;
  padding-bottom: 10px;
  max-width: 100%;
}