.download-segment {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #FFDD00;
  border-radius: 10px;
  width: 100%;
}

.download-segment h2 {
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 30px;
}

.download-button-container {
  flex-direction: row;
  justify-content: space-between;
}

.download-button {
  background-color: #FFDD00;
  color: #003399;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  margin: 10px 10px 10px 0;
  width: auto;
}

.download-button:hover {
  background-color: #ffdd00d2;
}

.download-icon {
  margin-right: 10px;
}

.flag-text p {
  margin-top: 20px;
  color: #FFDD00;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.flag-text a {
  text-decoration: none;
  color: #FFDD00;
}
