:root {
  --back-color: var(--back-colour, #003399);
  --star-color: var(--star-colour, #FFDD00);
}

.stars-container {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: var(--back-colour);
  border-radius: 100%;
  position: relative;
  overflow: hidden;
}

.stars-container.flag, .stars-container.pennant, .stars-container.ohio, .stars-container.guidon {
  width: 675px;
  height: 450px;
  border-radius: 0;
}

.stars-container.flag-1-2 {
  width: 750px;
  height: 375px;
  border-radius: 0;
}

.stars-container.shield, .stars-container.square-flag {
  width: 450px;
  height: 450px;
  border-radius: 0;
}

.star {
  display: inline-block;
  transform: translate(-50%, -50%);
  position: absolute;
  color:  var(--star-colour);
}

.shape {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stars-only-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dragging {
  cursor: grabbing;
}