.tooltip-container {
    position: relative;
    display: inline-block;
  }
  
  .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #d6bb02;
    color: #003399;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #d6bb02 transparent transparent transparent;
  }
  
  .tooltip-container:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }