body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #003399; 
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.App-header {
  background-color: #002080;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-content {
  text-align: center;
  /* padding: 20px; */
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  align-items: center;
}

.Stars-content {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
}

.Slider-content {
  margin-top: 10%;
}

.Download-btn {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
  color: #FFDD00;
}

input[type="range"] {
  width: 80%;
  margin-top: 10px;
}

/* NEW FORMAT */

.new-format .App-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 1000px;
  width: 100%;
}

.new-format .Stars-content {
  margin-top: 0;
  flex: 1;
  display: flex;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
}
.new-format .Slider-content {
  margin-top: 10%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Toggle Container */

.toggle-container {
  display: flex;
  align-items: center;
}

.toggle-label {
  margin-right: 10px;
}

.react-switch {
  vertical-align: middle;
}

/* GitHub Icon */

.github-icon {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 2rem;
  color: #ffffff;
  text-decoration: none;
}

.github-icon:hover {
  color: #d3d3d3;
}
