:root {
  --back-color: var(--back-colour, #003399);
  --star-color: var(--star-colour, #FFDD00);
}

.stars-container {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: var(--back-colour);
  border-radius: 100%;
  margin-top: 10px;
}

.star {
  display: inline-block;
  transform: translate(-50%, -50%);
  position: absolute;
  color:  var(--star-colour);
}